
    <!-- Footer -->
    <section class="footer">
        <div class="box-container">
            <div class="box animate-up">
                <h3>Quick Links</h3>

      <a href="/home"><i class="fas fa-angle-right"></i> Home</a>
      <a href="/about"><i class="fas fa-angle-right"></i> About</a>
      <a href="/course"><i class="fas fa-angle-right"></i> Course</a>
      <a href="/contact"><i class="fas fa-angle-right"></i> Contact</a>
      <a href="/admin/login"><i class="fas fa-angle-right"></i> Log in</a>

    </div>
            <div class="box animate-up">
                <h3>Extra Links</h3>
                <a href="#"><i class="fas fa-angle-right"></i> Ask Questions</a>
                <a href="#"><i class="fas fa-angle-right"></i> Privacy Policy</a>
                <a href="#"><i class="fas fa-angle-right"></i> Terms of Use</a>
            </div>
            <div class="box animate-up">
                <h3>Contact Info</h3>
                <a href="#"><i class="fas fa-phone"></i> +91 9927065127</a>
                <a href="#"><i class="fas fa-phone"></i> +91 8171342516</a>
                <a href="#"><i class="fas fa-envelope"></i> gangacomputer47@gmail.com</a>
                <a href="#"><i class="fas fa-map"></i> Jaspur (U.S.Nagar), India - 244712</a>
            </div>
            <div class="box animate-up">
                <h3>Follow Us</h3>
                <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-youtube"></i> YouTube</a>
            </div>
        </div>
        <hr style="border-bottom:7px solid white; border-radius: 20px;">
        <div class="credit">Created by <span>Saif Siddiqui</span> | All rights reserved!</div>
    </section>
