<header class="header">
  <div class="logo">
    <img src="/public/images/ganga3.png" alt="Logo">
    <h3>Ganga</h3>
  </div>

  <nav class="navbar">
    <a href="/home"><i class="fa-solid fa-house"></i> Home</a>
    <a href="/about"><i class="fa-solid fa-user-graduate"></i> About</a>
    <a href="/course"><i class="fa-solid fa-book-open"></i> Course</a>
    <a href="/contact"><i class="fa-solid fa-mobile-screen-button"></i> Contact</a>
    <a href="/admin/login"><i class="fa-solid fa-user-lock"></i> Log in</a>
  </nav>

  <div id="menu-btn" class="fas fa-bars" style="color: white;"></div>
</header>

<!-- Course Navbar -->
<nav class="course-navbar" id="courseNavbar">
  <ul class="course-nav-links" id="courseNavLinks">
    <li class="course-dropdown">
      <a href="#"><i class="fa-solid fa-book"></i> Fundamental <i class="fa-solid fa-angle-down"></i></a>
      <ul class="course-dropdown-menu">
        <li><a href="/course#ccc"><i class="fa-solid fa-book-open"></i> CCC</a></li>
        <li><a href="/course#dca"><i class="fa-solid fa-laptop-code"></i> DCA</a></li>
        <li><a href="/course#olevel"><i class="fa-solid fa-desktop"></i> O Level</a></li>
      </ul>
    </li>

    <li class="course-dropdown">
      <a href="#"><i class="fa-solid fa-pen-nib"></i> Designing <i class="fa-solid fa-angle-down"></i></a>
      <ul class="course-dropdown-menu">
        <li><a href="/course#corel"><i class="fa-solid fa-vector-square"></i> Corel Draw</a></li>
        <li><a href="/course#pagemaker"><i class="fa-solid fa-file-lines"></i> PageMaker</a></li>
        <li><a href="/course#photoshop"><i class="fa-solid fa-image"></i> Photoshop</a></li>
      </ul>
    </li>

    <li class="course-dropdown">
      <a href="#"><i class="fa-solid fa-code"></i> Programming <i class="fa-solid fa-angle-down"></i></a>
      <ul class="course-dropdown-menu">
        <li><a href="/course#c"><i class="fa-solid fa-c"></i> C</a></li>
        <li><a href="/course#cpp"><i class="fa-solid fa-code"></i> C++</a></li>
        <li><a href="/course#java"><i class="fa-brands fa-java"></i> Java</a></li>
        <li><a href="/course#python"><i class="fa-brands fa-python"></i> Python</a></li>
        <li><a href="/course#nodejs"><i class="fa-brands fa-node-js"></i> Node.js</a></li>
        <li><a href="/course#mongodb"><i class="fa-solid fa-database"></i> MongoDB</a></li>
        <li><a href="/course#react"><i class="fa-brands fa-react"></i> React</a></li>
        <li><a href="/course#angular"><i class="fa-brands fa-angular"></i> Angular</a></li>
        <li><a href="/course#springboot"><i class="fa-solid fa-leaf"></i> Spring Boot</a></li>
        <li><a href="/course#typescript"><i class="fa-solid fa-code-branch"></i> TypeScript</a></li>
      </ul>
    </li>

    <li class="course-dropdown">
      <a href="#"><i class="fa-solid fa-calculator"></i> Accounting <i class="fa-solid fa-angle-down"></i></a>
      <ul class="course-dropdown-menu">
        <li><a href="/course#tally"><i class="fa-solid fa-coins"></i> Tally</a></li>
        <li><a href="/course#sap"><i class="fa-solid fa-network-wired"></i> SAP</a></li>
        <li><a href="/course#busy"><i class="fa-solid fa-file-invoice-dollar"></i> Busy</a></li>
        <li><a href="/course#marg"><i class="fa-solid fa-cash-register"></i> Marg</a></li>
      </ul>
    </li>

    <li class="course-dropdown">
      <a href="#"><i class="fa-solid fa-globe"></i> Web & Full Stack <i class="fa-solid fa-angle-down"></i></a>
      <ul class="course-dropdown-menu">
        <li><a href="/course#html"><i class="fa-brands fa-html5"></i> HTML</a></li>
        <li><a href="/course#css"><i class="fa-brands fa-css3-alt"></i> CSS</a></li>
        <li><a href="/course#javascript"><i class="fa-brands fa-js"></i> JavaScript</a></li>
        <li><a href="/course#php"><i class="fa-brands fa-php"></i> PHP</a></li>
        <li><a href="/course#dotnet"><i class="fa-brands fa-microsoft"></i> .Net</a></li>
      </ul>
    </li>
  </ul>
</nav>
